<nav class="bg-secondary gap-2 p-2">
    <a href="/libros" class="btn btn-dark"> Listado de libros </a>
    <a href="/libros/nuevo" class="btn btn-dark"> Nuevo libro </a>
    <a href="/libros/login" class="btn btn-dark"> Login </a>
</nav>